@font-face {
    font-family: BinaryITC;
    src: url(../fonts/BinaryITC.ttf);
}

@font-face {
    font-family: BinaryITCBold;
    src: url(../fonts/BinaryITCBold.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf)
}