@media only screen and (max-width: 768px) {

    .ott_title_left {
        width: 100%;
    }
    .scrollme .card {
        width: 90%;
        margin-top: -25vh;
        transform: none;
        margin-left: auto;
        margin-right: auto;
    }

    .right_trust .row .col-md-3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .right_trust .row .col-md-9 {
        text-align: center;
    }

    .automation_subheading {
        border: none;
    }

    #career_hero .container .image_card .scrollme .card {
        margin-top: 0;
    }

    nav {
        min-height: auto;
    }
    .footer_social {
        justify-content: center;
        margin-top: 1rem;
    }

    .nav-item.active > a.nav-link {
        display: inline;
        padding-bottom: 0.2rem;
    }

    .footer_logo {
        overflow: hidden;
        text-align: center;
    }

    .mobile_services_caption_container {
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .mobile_services_caption_container h5 {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .ott_img_about {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .blog_grid {
        height: auto;
        overflow: none;
    }
    .hw100 {
        height: 100vw;
        overflow: hidden;
    }

    .blog_grid .col-12 .col-12 {
        background: rgba(48, 67, 65, 1);
        transition: all 0.2s ease-in;
        box-shadow: 0 5px 10px rgba(0,0,50,0.2);
    }
    .blog_grid_caption, .blog_grid_tile {
        color: #fff;
        background: rgba(48, 67, 65, 1);
        transition: all 0.2s ease-in;
        box-shadow: 0 5px 10px rgba(0,0,50,0.2);
    }
    
    .blog_grid_caption > h2, .blog_grid_caption > p.content {
        opacity: 1;
        transition: all 0.2s ease-in;
    }

    .blog_single_grid > div {
        color: #fff;
    }

    .hidden-xs {
        display: none;
    }
}


@media only screen and (max-width: 1200px) and (min-width: 769px) {
    .ott_title_left {
        width: 35%;
    }
}