/********************************
       Menu Customisations      *
********************************/

body {
    color: #585858;
    background-color: #F7F8F4;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    transition: all 0.5s ease-in;
    box-shadow: 0px 25px 100px 0px rgba(0, 0, 50, 0.1);
    min-height: 81px;
}

.parallax-images {
    min-height: 60vh;
    background: transparent;
}

.card {
    border-radius: 0;
}

p.card-text {
    font-family: "OpenSans";
    font-size: 15px;
}

p.content {
    font-family: "OpenSans";
    font-size: 15px;
    margin-bottom: 0;
}

.homenav>.nav-item.active>.nav-link {
    border-bottom: 1px solid #fff;
    font-family: 'OpenSansSemiBold';
}

.homenav>.nav-item>.nav-link {
    color: #fff;
}

.nav-item.active>.nav-link {
    border-bottom: 1px solid #000;
    font-family: 'OpenSansSemiBold';
}

.nav-item>.nav-link {
    font-family: 'OpenSans';
    font-size: 12px;
    color: #000;
}

.nav-item>.nav-link:hover {
    font-family: 'OpenSansSemiBold';
}

h1.page_heading {
    font-family: 'BinaryITCBold';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'OpenSansLight';
}

section {
    margin: 70px 0px;
}

/********************************
*             Home              *
********************************/

/*************Hero**************/

.video-hero {
    max-width: 100%;
    overflow: hidden;
    height: 100vh;
}

.video-hero video {
    display: block;
    object-fit: fill;
}

.caption-hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 907px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caption-hero {
    text-align: center;
    color: #fff;
}

.caption-hero h1 {
    font-size: 56px;
}

.horizontal-headline {
    width: 100%;
    margin: 70px 0px;
}

.horizontal-headline p {
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 8px;
    position: relative;
    z-index: 1;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 1;
    color: #b7b7b7;
}

.horizontal-headline p:before {
    border-top: 2px solid #b7b7b7;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.horizontal-headline p span {
    background: #f5f5f5;
    font-family: "OpenSans";
    font-size: 15px;
    font-weight: 600;
    padding: 0 0.5rem;
}

.horizontal-headline p span img {
    width: 100px;
}

.scrollme .card {
    width: 24rem;
    transform: translate3d(0,50px,0);
}

.mobile_services_caption_container {
    position: absolute;
    display: none;
}

/**********About Us**********/

#about_us .container {
    text-align: center;
}

#about_us>.container>div>h1 {
    font-size: 48px;
}

.custom-button {
    background-color: transparent;
    border: 2px solid #575757;
    font-size: 15px;
    letter-spacing: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 25px 0px;
    position: relative;
    overflow: hidden;
    max-width: 250px;
    transition: 0.5s ease-in-out;
    z-index: 2;
}

.custom-button:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #575757;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.custom-button:hover {
    color: #fff;
    transition: 0.5s ease-in-out;
}

.custom-button:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.hero-button {
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 15px;
    letter-spacing: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 25px 0px;
    position: relative;
    overflow: hidden;
    max-width: 250px;
    transition: 0.5s ease-in-out;
    z-index: 1;
    color: #fff;
}

.hero-button:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #fff;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.hero-button:hover {
    color: #000;
    transition: 0.5s ease-in-out;
}

.hero-button:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.image_card img {
    width: 100%;
}

#services h1 {
    font-size: 48px;
}

.services_content {
    margin: 70px 0px;
}

.services_tiles {
    margin: 0;
}

.services_tiles .col-md-2 {
    border-right: none;
    padding: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.services_tiles .col-md-2:hover, .services_grid > .services_inner_container:hover {
    /*background-color: #58dfc7;*/
    background-color: #304341;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,50,0.2);
    transition: all 0.2s ease-in;
    color: #fff;
}

.services_tiles .col-md-2:hover > .services_image_container {
    transform: none;
    opacity: 0.1;
}

/*.services_tiles .col-md-2:hover:nth-child(odd), .services_grid > .services_inner_container:hover:nth-child(odd) {
    background-color: #4FCDDD !important;
    cursor: pointer;
}*/

.services_tiles .col-md-2:hover>.services_caption_container {
    display: block;
    transform: none;
    transition: all 0.2s ease-in;
    opacity: 1;
}

.services_caption_container {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(15px);
    transition: all 0.2s ease-in;
}

.services_caption_container h3 {
    text-align: center;
}

.services_caption_container .custom-button {
    background-color: rgba(0, 0, 0, 0);
    margin: 10px 0px;
}

#footer {
    padding: 50px;
    background-color: #585858;
    color: #fff;
    margin: 0;
}

#copyright {
    margin: 0px;
    padding: 25px 50px;
    line-height: 35px;
    background-color: #585858;
}

#copyright p {
    margin: 0;
}

.footer_logo {
    height: 100%;
    display: inline-block;
    color: #fff;
}

.footer_middle>.text_wrapper {
    padding-left: 25px;
    border-left: 1px solid white;
}

.footer_social {
    display: flex;
    justify-content: flex-end;
    color: #939191;
}

.footer_caption {
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
}

.footer_social i {
    font-size: 28px;
    border: 1px solid #939191;
    border-radius: 4px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.footer_social i:hover {
    color: #585858;
    background-color: #fff;
    transition: all 0.2s ease-in;
}

.footer_text {
    color: #fff;
    display: flex;
    background-color: #000;
    line-height: 50px;
}

.footer_text:nth-child(1) {
    cursor: pointer;
}

#mannan_svg svg {
    width: 100vw;
}

.services_grid {
    margin-bottom: 60px;
}

.services_grid .col-md-4 {
    margin-bottom: 30px;
    cursor: pointer;
}

.services_inner_container {
    text-align: center;
    margin:0px;
    padding: 30px;
}

.services_inner_container p {
    display: none;
}

.services_grid > .services_inner_container:hover > img {
    display: none;
}

.services_grid > .services_inner_container:hover > p {
    display: block;
}

#contactform .form-group input::placeholder, #contactform .form-group textarea::placeholder {
    opacity: 0.5;
}

.form-group input::placeholder {
    opacity: 0.5;
}

.form-group input {
    border-radius: 0;
}

#contactform .form-group input:focus::placeholder, #contactform .form-group textarea:focus::placeholder {
    opacity: 0;
}

.form-group input:focus::placeholder {
    opacity: 0;
}

#contactform .form-group input, #contactform .form-group textarea {
    border-radius: 0px;
    border: 1px solid black;
}

.bg_blue {
    background-color: #4FCDDD !important;
}

.bg_black {
    background-color: #000;
}

.horizontal-headline.white-line p::before {
    border-top: 2px solid #fff;
}

.bg_green {
    background-color: #58DFB0 !important;
}

.bg_white {
    background-color: white;
}

.career_req {
    margin-right: 25px;
}

.parallax-col {
    min-height: 500px;
    background: transparent;
}

.career_grid .col-md-6 {
    height: 250px;
}

.career_tiles {
    height: 235px;
    overflow: hidden;
    position: relative;
}

.career_bottom_container {
    display: flex;
    justify-content: space-between
}

.career_bottom_container .career_tiles {
    width: 31%;
}

.career_bottom_container .career_tiles img {
    width: 100%;
}

.corners {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: .3s;
    z-index: 1;
}

.corners > * {
    position: absolute;
    border: 1px solid #b7b7b7;
    height: 10px;
    width: 10px;
}

.corners > .corner_l-t {
    left: 0;
    top: 0;
    border-right: 0;
    border-bottom: 0;
}

.corners > .corner_r-t {
    right: 0;
    top: 0;
    border-left: 0;
    border-bottom: 0;
}

.corners > .corner_l-b {
    left: 0;
    bottom: 0;
    border-right: 0;
    border-top: 0;
}

.corners > .corner_r-b {
    right: 0;
    bottom: 0;
    border-left: 0;
    border-top: 0;
}

.career_tiles {
    cursor: pointer
}

.career_tiles.overlay:hover > .career_tile_title_wrapper, .career_tiles.overlay:hover > .career_title_image:after {
    transform: none;
    opacity: 1;
    transition: all 0.2s ease-in;
}

.career_tile_title_wrapper {
    position: absolute;;
    z-index: 2;
    left: 0;
    right: 0;
    text-align: center;
    top: 30%;
    opacity: 0;
    transform: translateY(15px);
    transition: .2s ease-out;
    color: #fff;
}

.career_title_image {
    position: relative;
    height: 100%;
    width: 100%;
}

.career_title_image img {
    height: 100%;
    vertical-align: top;
}

.career_title_image:after {
    content: '\A';
    position: absolute;
    width: 100%; height: 100%;
    background: rgba(0,0,0,.6);
    opacity: 0;
    transition: all 0.2s ease-in;
    z-index: 1;
    top: 0;
    left: 0;
}

#animate-height {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in;
}

ul.custom-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.custom-list > li > a, ul.custom-list > li > a:hover {
    color: #fff;
    text-decoration: none;
}

.footer_middle p {
    font-weight: bold;
}

.footer_logo > .text_wrapper > p:nth-child(n+2) {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}

#resume_form_card {
    opacity: 0;
    transform: translateX(45px);
    transition: all 0.2s ease-in;
}

.bg_dark_green {
    background-color: #304341 !important;
}

.text_white {
    color: #fff;
}

.right_trust .row {
    border-bottom: 2px solid #b7b7b7;
}

.about_grid .col-md-6 {
    text-align: center;
}

.about_grid_image img {
    width: 90px;
}

.accordion_button {
    color: #fff;
    font-size: 1.5rem;
}

.accordion_button:hover {
    text-decoration: none;
    color: #fff;
}

#career_grid .container .row .col-md-4 {
    outline: 1px solid #eee;
}

.job_listing  h2{
    font-family: OpenSans;
}

.job_listing_container {
    transition: all 0.2s ease-in;
}

.job_listing_container:hover {
    background-color: #304341;
    transition: all 0.2s linear;
    cursor: pointer;
}

.job_listing_container:hover > .job_listing {
    color: #fff;
}

.card_container {
    top: 15vh;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.outline-left {
    box-shadow: -1px 0px 0px 0px #ccc;
}

.outline-right {
    box-shadow: 1px 0px 0px 0px #ccc;
}

.outline-top {
    box-shadow: 0px -1px 0px 0px #ccc;
}

.outline-bottom {
    box-shadow: 0px 1px 0px 0px #ccc;
}

.outline-bottom-right {
    box-shadow: 0px 1px 0px 0px #ccc, 1px 0px 0px 0px #ccc;
}

.outline-bottom-left {
    box-shadow: 0px 1px 0px 0px #ccc, -1px 0px 0px 0px #ccc;
}

.outline-top-right {
    box-shadow: 0px -1px 0px 0px #ccc, 1px 0px 0px 0px #ccc;
}

.outline-top-left {
    box-shadow: 0px -1px 0px 0px #ccc, -1px 0px 0px 0px #ccc;
}

.outline-left-bottom-right {
    box-shadow: 0px 1px 0px 0px #ccc, -1px 0px 0px 0px #ccc, 1px 0px 0px 0px #ccc;
}

.outline-left-top-right {
    box-shadow: 0px -1px 0px 0px #ccc, -1px 0px 0px 0px #ccc, 1px 0px 0px 0px #ccc;
}

.border-bottom-list {
    border-bottom: 2px solid #ccc;
}

.border-left-list {
    border-left: 1px solid #ccc;
}

.border-right-list {
    border-right: 1px solid #ccc;
}

.grey-text {
    color: #939191
}

.card-position {
    top: 20vh;
    right: 0;
    position: absolute;
}

.dark_overlay {
    background-color: rgba(0, 0, 50, 0);
    transition: all 0.2s ease-in;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dark_overlay > h4 {
    opacity: 0;
    transition: all 0.2s ease-in;
    margin: auto;
}

.dark_overlay > h4 > a {
    text-decoration: none;
    color: #fff
}

.dark_overlay:hover {
    background-color: rgba(0,0,0,0.4);
    transition: all 0.2s ease-in;
    box-shadow: 0 5px 10px rgba(0,0,50,0.2);
}

.dark_overlay:hover > h4 {
    opacity: 1;
    transition: all 0.2s ease-in;
}

.play_button {
    position: absolute;
    top: calc(50% - 48px);
    left:0;
    right: 0;
    text-align: center;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s ease-in;
}

.play_button i {
    color: #fff;;
    font-size: 48px;
    line-height: 88px;
    width: 96px;
    border-radius: 50%;
    padding-left: 10px;
    border: 4px solid #fff;
}

.blog_grid {
    height: 570px;
    overflow: hidden;
}

.blog_grid .col-md-6 {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
}

.blog_grid_img {
    height: 100%;
    padding: 0;
    position: relative;
}

.blog_grid_caption {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.blog_grid_caption:hover {
    background: rgba(48, 67, 65, 1);
    transition: all 0.2s ease-in;
    box-shadow: 0 5px 10px rgba(0,0,50,0.2);
}

.blog_grid_caption:hover > h2, .blog_grid_caption:hover > p.content {
    opacity: 1;
    transition: all 0.2s ease-in;
}

.blog_grid_caption h2, .blog_grid_caption p.content {
    text-align: left;
    color: #fff;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.bg_white_50 {
    background: rgba(255, 255, 255, 0.5);
}

.blog_grid_tile {
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.blog_grid_tile:hover {
    background: rgba(48, 67, 65, 1);
    color: #fff;
    transition: all 0.2s ease-in;
}

.blog_single_grid {
    position: relative;
}

.blog_single_grid_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(48, 67, 65, 1);
    transition: all 0.2s ease-in;
    opacity: 0;
    cursor: pointer;
}

.blog_single_grid:hover > .blog_single_grid_overlay {
    opacity: 1;
    transition: all 0.2s ease-in;
    box-shadow: 0 5px 10px rgba(0,0,50,0.2);
}

.blog_single_grid:hover > .col-md-6 h2 {
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.blog_single_grid:hover > .col-md-6 > p.content {
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.left_widget_list {
    list-style-type: none;
    padding-left: 0;
}

.left_widget_list li {
    font-weight: bold;
}

.left_widget_list li a {
    color: rgb(88,88,88)
}

.left_widget_list li a:hover {
    text-decoration: none;
}

.article {
    padding-top: 100px;
}

.article img {
    width: 100%;
}

.article p.content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.accordion .card-header h2 {
    display: flex;
    justify-content: space-between;
}

.toggle_button {
    color: #fff;
}

#about_accordion .card {
    background-color: transparent;
    border: none;
}

.toggle_button:hover {
    color: #fff;
}

.std_horiz_margin {
    margin: 70px 0px;
}

.automation_subheading {
    border-right: 1px solid #ccc;
}

.offset-350 {
    margin-top: -350px;
}

.offset-300 {
    margin-top: -300px;
}

.offset-200 {
    margin-top: -200px;
}